<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<httpErrors errorMode="Detailed" />
       <handlers accessPolicy="Read, Script">
            <remove name="Django Handler" />
       
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\WMS\WMS\WMS\Project01\venv\Scripts\python.exe|D:\WMS\WMS\WMS\Project01\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\WMS\WMS\WMS\Project01\venv\Scripts" />
    <add key="DJANGO_SETTINGS_MODULE" value="Project01.settings" />
  </appSettings>


</configuration>