{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}Success{% endblock  %}
{% block body %}

    <div class="container col-md-6 my-5">
        
      {% if success_message %}
      <div class=" flex alert alert-success" role="alert" style="text-align:center;">
          {{success_message}}
      </div>
      {% endif %}

        <div class="container my-5" style="text-align: center;">
            <p>Go To Knowledge Evaluation Page.</p>
            <a class="btn btn-sm btn-outline-success" href="{% url 'Quiz_View' course.id %}">Take Quiz</a>
        </div>
    </div>

    

    {% endblock  %}