{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}E-Waste Disposal Input{% endblock  %}
{% block body %}

<div class="container my-1 col-md-9" style="text-align:center;">
    <div class="btn-group" >
        <a href="{% url 'WM_Routine_Input' %}" class="btn btn-sm btn-outline-dark" aria-current="page">Routine Waste</a>
        <a href="{% url 'WM_Non_Routine_Input' %}" class="btn btn-sm btn-outline-dark">Non-Routine Waste</a>
        <a href="{% url 'WM_EWaste_Input' %}" class="btn btn-sm btn-outline-dark active" aria-current="page">E-Waste</a>
        <a href="{% url 'ESG_Input' %}" class="btn btn-sm btn-outline-dark" aria-current="page">ESG Data</a>
    </div>
</div>
<div class="container col-md-9">
    <h4 class="shadow" style="padding: 5px; background-color: rgb(233, 89, 6); color: aliceblue;">E-Waste Disposal Input</h4>
    {% if request.user|user_in_group:"Site-Admin"%}
    <div class="container-flex shadow" style="padding: 5px; border: solid 1px lightgrey;">
        <form class="form-group row g-3" action="/wmew_input" method="POST">
            {% csrf_token %}
            <div class="container-flex row g-3">
                <div class="col">
                    <label class="form-label-sm" for="disposalDate">Disposal Date:</label>
                    <input class="form-control" name="disposalDate" id="disposalDate" type="date" required>
                </div>
                <div class="col">
                    <label class="form-label-sm" for="Country">Country:</label>
                    <select id="Country" name="Country" class="form-select" required>
                        {% if request.user|user_in_group:"Admin-Leaders"%}
                        <option hidden selected value="">--Select Country--</option>
                        {% for country in countries %}
                        <option  value="{{country}}">{{country}}</option>
                        {% endfor %}
                        {% else %}
                        <option value="{{user_country}}">{{user_country}}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col">
                    <label class="form-label-sm" for="Location">Location:</label>
                    <select id="Location" name="Location" class="form-select" required>
                        {% if request.user|user_in_group:"Admin-Leaders"%}
                    <option hidden selected value="">--Select Location--</option>
                        {% else %}
                    <option value="{{user_location}}">{{user_location}}</option>
                    {% endif %}
                    </select>
                        
                </div>
                <div class="col">
                    <label class="form-label-sm" for="Function">Function:</label>
                    <select class="form-select" name="Function" id="Function" required>
                        <option hidden selected value="">--Function--</option>
                        <option value="Facilities">Facilities</option>
                        <option value="Technology">Technology</option>
                        <option value="Physical Security">Physical Security</option>
                        <option value="TPO">TPO</option>
                        <option value="Finance">Finance</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label-sm" for="itemDesc">Item Description:</label>
                    <input class="form-control" name="itemDesc" id="itemDesc" type="text" required>
                </div>
            </div>

            <div class="container-flex row g-3">
                <div class="col">
                    <label class="form-label-sm" for="Category">Item Category:</label>
                    <select class="form-select" name="Category" id="Category" required>
                        <option hidden selected value="">--Item Category--</option>
                        <option value="Electronic Components">Electronic Components</option>
                        <option value="Electrical Equipment">Electrical Equipment</option>
                        <option value="CPU/ Laptop">CPU/ Laptop</option>
                        <option value="Computer Peripherals">Computer Peripherals</option>
                        <option value="Mobile Phone">Mobile Phone</option>
                        <option value="Batteries">Batteries</option>
                        <option value="TV/ Monitor">TV/ Monitor</option>
                        <option value="Speaker">Speaker</option>
                        <option value="Lights">Lights</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label-sm" for="disposalType">Disposal Type:</label>
                    <select class="form-select" name="disposalType" id="disposalType" required>
                        <option hidden selected value="">--Disposal Type--</option>
                        <option value="Sale">Sale</option>
                        <option value="Scrap">Scrap</option>
                        <option value="Replacement">Replacement</option>
                        <option value="Recycle">Recycle</option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label-sm" for="Severity">Waste Severity:</label>
                    <select class="form-select" name="Severity" id="Severity" required>
                        <option hidden selected value="">--Waste Severity--</option>
                        <option value="Bio-Degradable">Bio-Degradable</option>
                        <option value="Non-Degradable">Non-Degradable</option>
                        <option value="Hazardous">Hazardous</option>
                        <option value="Non-Hazardous">Non-Hazardous</option>
                    </select>
                </div>

                
                <div class="col">
                    <label class="form-label-sm" for="Unit">Unit:</label>
                    <select class="form-select" name="Unit" id="Unit" required>
                        <option hidden selected value="">--Unit--</option>
                        <option value="KG">KG</option>
                        <option value="Liter">Liter</option>
                        <option value="Count">Count</option>
                        <option value="Meter">Meter</option>
                        <option value="Lot">Lot</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label-sm" for="Quantity">Quantity:</label>
                    <input class="form-control" name="Quantity" id="Quantity" type="number" required>
                </div>
            </div>
            

            <div class="container-flex row g-3">
                <div class="col">
                    <label class="form-label-sm" for="disposedBy">Disposed By:</label>
                    <select class="form-select" name="disposedBy" id="disposedBy" required>
                        <option hidden selected value="">--Disposed By--</option>
                        {% for user  in UserFilter %}
                        <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label class="form-label-sm" for="verifiedBy">Verified By:</label>
                    <select class="form-select" name="verifiedBy" id="verifiedBy" required>
                        <option hidden selected value="">--Verified By--</option>
                        {% for user  in UserFilter %}
                        <option value="{{user}}">{{user}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label-sm" for="Remarks">Remarks:</label>
                    <input class="form-control" name="Remarks" id="Remarks" type="text">
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <input class="btn btn-outline-dark btn-sm" type="submit">
            </div>
        </form>
        {% if success_message %}
        <div class="flex alert alert-success my-3" role="alert" style="text-align:center;">
        {{success_message}}
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="container-flex my-3">
        {% include "Waste Management/E-Waste/E-Waste_Upload.html" %}
    </div>
</div>

{% endblock %}