{% extends 'base.html' %}
{% block title %}Non-Routine Waste Disposal Update{% endblock  %}

{% block body %}


<div class="container my-3">
    <h4 class="shadow" style="padding: 5px; background-color: rgb(6, 167, 189); color: white;">Update Non-Routine Waste Disposal Details</h4>
    <div class="container shadow" style="text-align: center; background-color: rgb(247, 196, 167); padding: 5px; border: solid white 1px; ">
        <b style="color: red;">Alert:</b> You are now updating <b>Non-Routine Waste Disposal Record ID:</b> <b style="color:red;">NRW/{{non_routine_data.id}}</b>. Kindly review & validate all details before submitting.
    </div>
    <div class="container shadow" style="padding: 10px; border: solid 1px lightgrey;">
        <form class="form-group row g-3" action="{% url 'Update_Non_Routine_Disposal' non_routine_data_id=non_routine_data.id %}" method="POST">
            {% csrf_token %}
            <div class="col-md-1">
                <label for="recordID" class="form-label">Record ID</label>
                <h5 style="background-color: bisque;" class="form-control"><b>NRW/{{non_routine_data.id}}</b></h5>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="disposalDate">Disposal Date:</label>
                <input class="form-control" name="disposalDate" id="disposalDate" type="date" value="{{non_routine_data.Disposal_Date}}">
            </div>
            <div class="col-md-2">
                <label class="form-label" for="Country">Country:</label>
                <select class="form-select" name="Country" id="Country">
                    <option hidden selected value="{{non_routine_data.Country}}">{{non_routine_data.Country}}</option>
                    <option value="India">India</option>
                    <option value="Philippines">Philippines</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="Location">Location:</label>
                <select class="form-select" name="Location" id="Location">
                    <option hidden selected value="{{non_routine_data.Location}}">{{non_routine_data.Location}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="Function">Function:</label>
                <select class="form-select" name="Function" id="Function">
                    <option hidden selected value="{{non_routine_data.Function}}">{{non_routine_data.Function}}</option>
                    <option value="Facilities">Facilities</option>
                    <option value="Technology">Technology</option>
                    <option value="Physical Security">Physical Security</option>
                    <option value="TPO">TPO</option>
                    <option value="Finance">Finance</option>
                    <option value="Others">Others</option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label" for="itemDesc">Item Description:</label>
                <input class="form-control" name="itemDesc" id="itemDesc" type="text" value="{{non_routine_data.Description}}">
            </div>

            <div class="col-md-2">
                <label class="form-label" for="Category">Waste Category:</label>
                <select class="form-select" name="Category" id="Category">
                    <option hidden selected value="{{non_routine_data.Category}}">{{non_routine_data.Category}}</option>
                    <option value="Project Debris">Project Debris</option>
                    <option value="Metal Pieces">Metal Pieces</option>
                    <option value="Wood">Wood</option>
                    <option value="Gypsum Board">Gypsum Board</option>
                    <option value="Carpet">Carpet</option>
                    <option value="Celling Tile">Celling Tile</option>
                    <option value="Paint">Paint</option>
                    <option value="Oil">Oil</option>
                    <option value="">Others</option>
                </select>
            </div>


            <div class="col-md-2">
                <label class="form-label" for="wasteType">Waste Type:</label>
                <select class="form-select" name="wasteType" id="wasteType">
                    <option hidden selected value="{{non_routine_data.Waste_Type}}">{{non_routine_data.Waste_Type}}</option>
                    <option value="Dry Waste">Dry Waste</option>
                    <option value="Wet Waste">Wet Waste</option>
                    <option value="Plastic Waste">Plastic Waste</option>
                    <option value="Bio-Medical Waste">Bio-Medical Waste</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="wasteState">Waste State:</label>
                <select class="form-select" name="wasteState" id="wasteState">
                    <option hidden selected value="{{non_routine_data.Waste_State}}">{{non_routine_data.Waste_State}}</option>
                    <option value="Solid">Solid</option>
                    <option value="Semi Liquid">Semi Liquid</option>
                    <option value="Liquid">Liquid</option>
                </select>
            </div>


            <div class="col-md-2">
                <label class="form-label" for="disposalType">Disposal Type:</label>
                <select class="form-select" name="disposalType" id="disposalType">
                    <option hidden selected value="{{non_routine_data.Disposal_Type}}">{{non_routine_data.Disposal_Type}}</option>
                    <option value="Recycle">Recycle</option>
                    <option value="Replacement">Replacement</option>
                    <option value="Sale">Sale</option>
                    <option value="Scrap">Scrap</option>
                    
                    
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label" for="Severity">Waste Severity:</label>
                <select class="form-select" name="Severity" id="Severity">
                    <option hidden selected value="{{non_routine_data.Severity}}">{{non_routine_data.Severity}}</option>
                    <option value="Bio-Degradable">Bio-Degradable</option>
                    <option value="Non-Hazardous">Non-Hazardous</option>
                    <option value="Non-Degradable">Non-Degradable</option>
                    <option value="Hazardous">Hazardous</option>
                </select>
            </div>


            <div class="col-md-2">
                <label class="form-label" for="Unit">Unit:</label>
                <select class="form-select" name="Unit" id="Unit">
                    <option hidden selected value="{{non_routine_data.Unit}}">{{non_routine_data.Unit}}</option>
                    <option value="Count">Count</option>
                    <option value="KG">KG</option>
                    <option value="Liter">Liter</option>
                    <option value="Lot">Lot</option>
                    <option value="Meter">Meter</option>
                    
                </select>
            </div>

            <div class="col-md-1">
                <label class="form-label" for="Quantity">Quantity:</label>
                <input class="form-control" name="Quantity" id="Quantity" type="number" value="{{non_routine_data.Quantity}}">
            </div>

            <div class="col-md-3">
                <label class="form-label" for="disposedBy">Disposed By:</label>
                <select class="form-select" name="disposedBy" id="disposedBy">
                    <option hidden selected value="{{non_routine_data.Disposed_By}}">{{non_routine_data.Disposed_By}}</option>
                    {% for user in UserFilter %}
                    <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label" for="verifiedBy">Verified By:</label>
                <select class="form-select" name="verifiedBy" id="verifiedBy">
                    <option hidden selected value="{{non_routine_data.Verified_By}}">{{non_routine_data.Verified_By}}</option>
                    {% for user in UserFilter %}
                    <option value="{{user}}">{{user}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-5">
                <label class="form-label" for="Remarks">Remarks:</label>
                <input class="form-control" name="Remarks" id="Remarks" type="text" value="{{non_routine_data.Remarks}}">
            </div>
            <div class="col-md-6" style="text-align: left;">
                <input class="btn btn-outline-primary btn-sm" type="submit" value="Update">
            </div>
            <div class="col-md-6" style="text-align:right;">
                <a class="btn btn-sm btn-warning" href="{% url 'Non_Routine_View'%}">Cancel</a>
              </div>
        </form>
    </div>

</div>

{% endblock %}