{% block body %}
<div class="container col-md-9 my-3" style="text-align:center;">

    <div class="container-fluid my-3 shadow" style="border: solid 1px lightgrey; padding: 10px; text-align:center;">
    
            <h4>Upload Incident Data</h4>
            <br>
              <form class="g-3" method="post" action="/upload_incidents" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group container col-md-9">
                    <label for="incidentfile" class="form-label">Select Incident Data File To Upload:</label>
                    <input class="form-control" style="color: red;" type="file" name="incidentfile" id="incidentfile" required>
                </div>

                <div class="container col-12 my-3">       
                    <button type="submit" class="btn btn-sm btn-outline-dark">Upload</button>
                </div>
            </form>

            {% if success_message %}
            <div class="alert alert-success" role="alert">
                {{success_message}}
            </div>
            {% elif error_message %}
            <div class="alert alert-warning" role="alert">
                <b>Warning!</b> {{error_message}}
            </div>
            {% endif %}
            

            <div class="form-group container-flex" style="text-align: right;">
                <a href="static/samples/Incident_Tracker_Upload_Sample.xlsx">Sample File</a>
            </div>

    </div>

</div>
{% endblock %}