
<div class="container col-md-6 shadow" style="text-align:center; padding: 5px;">
  <div class="container my-6">
          <div class="container my-3" style="border: solid lightgrey 1px; text-align:center; padding: 5px;">
              <h4>Upload Location Details</h4>
              <br>
              <form method="post" action="/locationupload" enctype="multipart/form-data">
                  {% csrf_token %}
                      <div class="form-group container col-md-9">
                          <label for="locationfile" class="form-label">Select Location Details File To Upload:</label>
                          <input class="form-control" style="color: red;" type="file" name="locationfile" id="locationfile" required>
                      </div>

                      <br>
                      <div class="container col-12 my-3">       
                      <button type="submit" class="btn btn-sm btn-outline-dark">Upload</button>
                      </div>
              </form>
              <br>
              {% if success_message %}
              <div class="alert alert-success" role="alert">
                  {{success_message}}
              </div>
              {% elif error_message %}
              <div class="alert alert-warning" role="alert">
                  <b>Warning!</b> {{error_message}}
              </div>
              {% endif %}
              <br>
              <div class="form-group container-flex" style="text-align: right;">
                  <a href="/static/samples/Location_Upload_Sample.xlsx">Sample File</a>
              </div>
          </div>
  </div>
</div>
