{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Routine Waste Disposal Data{% endblock%}
{% block body %}

<style>
  table>tbody>tr>td, table>thead>tr>th{
    font-size: small;
  }
</style>

<div class="container-fluid my-2" style="text-align:center;">
  <div class="container my-2">
    <div class="btn-group">
      <a href="{% url 'Routine_View' %}" class="btn btn-sm btn-outline-dark active" aria-current="page">Routine Waste </a>
      <a href="{% url 'Non_Routine_View' %}" class="btn btn-sm btn-outline-dark ">Non-Routine Waste</a>
      <a href="{% url 'E_Waste_View' %}" class="btn btn-sm btn-outline-dark">E-Waste</a>
      <a href="{% url 'ESG_Data' %}" class="btn btn-sm btn-outline-dark">ESG Data</a>
    </div>
  </div>

  <form class='form-group row my-3' method="get" action="/RoutineView">
    <div class="container row">
        <div class="col">
            <label for="year">Year:</label>
            <select id="year" name="year">
                <option selected value="All">All</option>
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
          <label for="quarter">Quarter:</label>
          <select id="quarter" name="quarter">
              <option selected value="All">All</option>
              {% for quarter in quarters %}
              <option value="{{ quarter }}">Q{{quarter}}</option>
              {% endfor %}
          </select>
      </div>
    
        <div class="col">
            <label for="month">Month:</label>
            <select id="month" name="month">
                <option selected value="All">All</option>
                {% for month in months %}
                <option value="{{ month }}">{{month|get_month_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
          <label for="country">Country:</label>
          <select id="country" name="country">
              <option selected value="All">All</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
          </select>
      </div>

        <div class="col">
            <label for="location">Location:</label>
            <select id="location" name="location">
                <option selected value="All">All</option>
                {% for location in locations %}
                <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <input class="btn btn-sm btn-outline-success" type="submit" value="Search">
        </div>
    </div>
  </form>
  
  {% if error_message %}
  <div class="container col-md-3 alert alert-primary d-flex my-3" role="alert">
      <img src="/static/img/info.png" alt="info" height="22">
      <div class="container">
          {{ error_message }}
      </div>
  </div>
  {% else %}

  <div class="container-flex my-2"> 
    <h5>Routine Waste Disposal Data</h5>
    <table class="table table-hover table-borderless table-sm" style="vertical-align: middle;">
      <thead>
        <tr>
          <th>Record ID</th>
          <th>Disposal Date</th>
          <th>Location</th>
          <th>Function</th>
          <th>Description</th>
          <th>Waste Type</th>
          <th>Waste State</th>
          <th>Severity</th>
          <th>Disposal Type</th>
          <th>Unit</th>
          <th>Quantity</th>
          <th>Remarks</th>
          {% if request.user|user_in_group:"Admin-Leaders"%}
          <th colspan="2" scope="col">Action</th>
          {% endif %}
        </tr>
      </thead>

      <tbody id="geeks">
        {% for data in routine_dataset %}
        <tr>
          <th>RW/{{data.id}}</th>
          <td>{{data.Disposal_Date}}</td>
          <td>{{data.Location}}</td>
          <td>{{data.Function}}</td>
          <td>{{data.Description}}</td>
          <td>{{data.Waste_Type}}</td>
          <td>{{data.Waste_State}}</td>
          <td>{{data.Severity}}</td>
          <td>{{data.Disposal_Type}}</td>
          <td>{{data.Unit}}</td>
          <td>{{data.Quantity}}</td>
          <td>{{data.Remarks}}</td>
          {% if request.user|user_in_group:"Admin-Leaders"%}
          <td scope="row"><a type="button" class="btn btn-sm" href="{% url 'Update_Routine_Disposal' data.id %}">
             <img src="/static/img/edit.png" alt="Edit" height="12"> </a></td>
        {% endif %}
        {% if request.user|user_in_group:"Site-Admin"%} 
          <td><form action="{% url 'Delete_Routine' data.id  %}" method="POST" id="delete-form">
            {% csrf_token %}
          <button id="delete-btn" onclick="return confirm('Are you sure you want to delete this item? Please note that deleted record cannot be restored.');" type="submit" class="btn btn-sm">
            <img src="/static/img/delete.png" alt="Delete" height="12"></button>
        </form></td>
        {% endif %}
        </tr> 
        {% endfor %}
      </tbody>
    </table> 
    <div class="container">
      <button class="button btn-sm btn-primary" onclick="exceller()">Download To Excel</button>
    </div>  
</div>  

<!-- Downloadable Table -->
<div id="no-display"> 
  <table id="toExcel">
    <thead>
      <tr>
        <th>Record ID</th>
        <th>Month</th>
        <th>Disposal Date</th>
        <th>Country</th>
        <th>Location</th>
        <th>Function</th>
        <th>Description</th>
        <th>Waste Type</th>
        <th>Waste State</th>
        <th>Severity</th>
        <th>Disposal Type</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Disposed By</th>
        <th>Verified By</th>
        <th>Remarks</th>
      </tr>
    </thead>

    <tbody id="geeks">
      {% for data in routine_dataset %}
      <tr>
        <th>{{dataid}}</th>
        <td>{{data.Month|get_month_name}}-{{data.Year}}</td>
        <td>{{data.Disposal_Date|excel_date_format}}</td>
        <td>{{data.Country}}</td>
        <td>{{data.Location}}</td>
        <td>{{data.Function}}</td>
        <td>{{data.Description}}</td>
        <td>{{data.Waste_Type}}</td>
        <td>{{data.Waste_State}}</td>
        <td>{{data.Severity}}</td>
        <td>{{data.Disposal_Type}}</td>
        <td>{{data.Unit}}</td>
        <td>{{data.Quantity}}</td>
        <td>{{data.Disposed_By}}</td>
        <td>{{data.Verified_By}}</td>
        <td>{{data.Remarks}}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>

</div>  
{% endif %}

<script>
  function loadFilters() {
    const filters = ['year', 'quarter', 'month', 'location', 'country'];
    filters.forEach(filter => {
      const savedValue = localStorage.getItem(filter);
      if (savedValue) {
        document.getElementById(filter).value = savedValue;
      }
    });
  }
  const filterElements = document.querySelectorAll('select');
  filterElements.forEach(filterElement => {
    filterElement.addEventListener('change', function(){
      localStorage.setItem(this.id, this.value);
    });
  });
  window.addEventListener('DOMContentLoaded', loadFilters)
</script>
{% endblock %}