{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Location Data{% endblock%}

{% block body %}

<div class="container col-md-9 my-2" style="text-align:center;">

  {% if error_message %}
  <div class="container col-md-3 alert alert-primary d-flex my-3" role="alert">
      <img src="/static/img/info.png" alt="info" height="22">
      <div class="container">
          {{ error_message }}
      </div>
  </div>
  {% else %}

  <div class="container my-2"> <h5>Authorized Users Details</h5></div>
    <table class="table table-hover table-sm" style="vertical-align: middle;" id="toExcel">
        <thead>
          <tr>

            <th>Record ID</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Country</th>
            <th>Location</th>
            <th>Is Manager?</th>
            <th>Exluded</th>
            {% if request.user|user_in_group:"Admin-Leaders"%}
            <th colspan="2">Action</th>
            {% endif %}

          </tr>
        </thead>

        <tbody id="geeks">
          {% for data in auth_users %}
          <tr>
            <th>{{data.id}}</th>
            <td>{{data.userid}}</td>
            <td>{{data.user_name}}</td>
            <td>{{data.user_country}}</td>
            <td>{{data.user_location}}</td>
            <td>{{data.is_manager}}</td>
            <td>{{data.exclude_from_calculation}}</td>
            {% if request.user|user_in_group:"Admin-Leaders"%}
            <td><a type="button" class="btn btn-sm" href="{% url 'AuthUser_Update' data.id %}">
               <img src="/static/img/edit.png" alt="Edit" height="12"> </a></td>
        {% endif %}
        {% if request.user|user_in_group:"Site-Admin"%} 
            <td><form action="{% url 'AuthUser_Delete' data.id  %}" method="POST" id="delete-form">
              {% csrf_token %}
            <button id="delete-btn" onclick="return confirm('Are you sure you want to delete this item? Please note that deleted record cannot be restored.');" type="submit" class="btn btn-sm">
              <img src="/static/img/delete.png" alt="Delete" height="12"></button>
          </form></td>
          {% endif %} 
          </tr> 
          {% endfor %}
        </tbody>
      </table>
      <div class="container">
        <button class="button btn-sm btn-primary" onclick="exceller()">Download To Excel</button>
      </div>
      {% endif %}
   
</div>  


{% endblock %}